<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Welcome to Main Page</h1>
    <table>
        <tbody>
            <tr>
                <td><a href="{% url 'files:files_list' %}">All files</a></td>
                <td><a href="{% url 'boards:boards_template' %}">All boards and groups</a></td>
            </tr>
        </tbody>
    </table>
    <form method="POST" action="{% url 'panel:send_mqtt' %}">
        {% csrf_token %}
        <button type="submit">send mqtt</button>
    </form>
</body>
</html>