<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <a href="{% url 'boards:create_group' %}">Create group</a>
    <br>
    <a href="{% url 'boards:create_board' %}">Create board</a>
    <br>
    <h1>Groups</h1>
    {% if groups %}
        {% for group in groups %}
            <br><h3><b>{{ group.name }}</b></h3>
            <a href="{% url 'boards:edit_group' group.pk %}">edit</a>
            {% if group.boards.all %}
                {% for board in group.boards.all %}
                    <br><p><b>{{ board.id }}: </b>name={{ board.name }} is_active={{ board.is_active }}</p>
                    <a href="{% url 'boards:edit_board' board.id %}">edit</a>
                {% endfor %}
            {% else %}
                <p>No related boards present</p>
            {% endif %}
        {% endfor %}
    {% else %}
        <p>No groups present</p>
    {% endif %}
    <br>
    <br>
    <h1>Ungrouped boards</h1>
    {% if ungrouped_boards %}
        {% for board in ungrouped_boards %}
            <br><p><b>{{ board.id }}: </b>name={{ board.name }} is_active={{ board.is_active }}</p>
            <a href="{% url 'boards:edit_board' board.id %}">edit</a>
        {% endfor %}
    {% else %}
        <p>No ungrouped boards present</p>
    {% endif %}
    <br>
</body>
</html>